
        body {
            font-family: 'Times New Roman', Times, serif;
            background-color: #b08b83;
            text-align: center;
        }    
           H1 { color: rgb(74, 47, 5);
            font-family: Bahnschrift;
            font-size: 200%;

        }
        .container {
            width: 65%;
            margin: auto;
            background-color: rgb(214, 192, 169);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 5px 5px 10px rgb(21, 21, 21);
            display: flex;
            align-items: center;
            text-align: left;
        }
        .profile-img {
            width: 170px;
            border-radius: 20px;
            margin-right: 30px;
        }
        table {
            width: 100%;
            border-collapse: collapse;

        }
        table, th, td {
            border: 2px solid black;
        
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
             {
            color: blue;
             font-family: verdana;
             font-size: 100%;

        }